@if !app.logged_in
@include 'login_modal.html'
@include 'signup_modal.html'
@end
<nav class="flex items-stretch justify-between bg-gray-900 p-4 lg:py-6 w-screen">
  <ul>
    <li><a href="/" class="text-xl font-bold text-gray-200 hover:text-white">Home Page</a></li>
  </ul>
  <ul class="flex items-center gap-2 lg:gap-4">
    @if app.logged_in
    <li class="text-lg text-gray-200"><span class="hidden sm:inline">Hi there </span><a href="/author/@app.username"
        class="text-sky-400 hover:text-sky-300">@app.username</a><span class="hidden sm:inline">!</span></li>
    @end
    <li><a href="/latest"
        class="rounded-md bg-slate-500 p-2 hover:bg-slate-400 sm:bg-inherit sm:p-0 sm:hover:bg-slate-600 text-base sm:text-lg"><span
          class="hidden pr-1 text-lg text-gray-400 hover:text-white sm:inline">Latest Post</span>&#x231B</a></li>
    @if app.logged_in
    <li><a href="/new"
        class="rounded-md bg-slate-500 p-2 hover:bg-slate-400 sm:bg-inherit sm:p-0 sm:hover:bh-slate-600"><span
          class="hidden pr-1 text-lg text-gray-400 hover:text-white sm:inline">New Post</span>&#x1F4DD</a></li>
    <li><a href="/signout" class="rounded-md bg-sky-400 p-2 hover:bg-sky-300"><span
          class="hidden pr-1 text-lg text-gray-200 sm:inline">Sign Out</span>&#x1F44B</a>
      @end
      @if !app.logged_in
    <li><a href="#login"
        class="text-base rounded-md bg-sky-400 p-2 hover:bg-sky-300 sm:text-lg text-gray-200 hover:text-white">Login</a>
    <li><a href="#signup"
        class="text-base rounded-md bg-sky-400 p-2 hover:bg-sky-300 sm:text-lg text-gray-200 hover:text-white">
        Sign Up</a>
      @end
  </ul>
</nav>